annotated-doc==0.0.4
asgiref==3.11.1
certifi==2026.5.20
charset-normalizer==3.4.7
colorama==0.4.6
Django==6.0.6
idna==3.18
markdown-it-py==4.2.0
mdurl==0.1.2
prompt_toolkit==3.0.52
Pygments==2.20.0
questionary==2.1.1
requests==2.34.2
rich==15.0.0
shellingham==1.5.4
sqlparse==0.5.5
typer==0.26.7
tzdata==2026.2
urllib3==2.7.0
uv==0.11.21
wcwidth==0.8.1
